<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="usedboard">

	<select id="usedlist" resultType="usedproductDto" parameterType="hashmap">
		SELECT X.RNUM, X.USEDPRODUCT_NO, X.USEDPRODUCT_TITLE, X.USEDPRODUCT_CONTENT, X.USEDPRODUCT_DATE, X.CATEGORY_NAME, X.MEMBER_ID, X.USEDPRODUCT_VIEWS
		FROM (SELECT ROWNUM AS RNUM, A.USEDPRODUCT_NO, A.USEDPRODUCT_TITLE, A.USEDPRODUCT_CONTENT, A.USEDPRODUCT_DATE, A.CATEGORY_NAME, A.MEMBER_ID, A.USEDPRODUCT_VIEWS
		FROM (SELECT CATEGORY_NAME, USEDPRODUCT_NO, USEDPRODUCT_TITLE, USEDPRODUCT_CONTENT, USEDPRODUCT_DATE, MEMBER_ID, USEDPRODUCT_VIEWS
		FROM USEDPRODUCT JOIN CATEGORY USING(CATEGORY_NO)
		WHERE 1 = 1
		<if test="searchFiled != null and searchFiled != ''">
			AND ${searchFiled} LIKE '%' || #{searchValue} || '%'
		</if>
		<if test="id != null">
			AND ID = #{id}
		</if>
		ORDER BY USEDPRODUCT_NO DESC
		) A
		WHERE ROWNUM <![CDATA[<=]]> #{noOfRecords}
		) X
		WHERE X.RNUM <![CDATA[>]]> #{offset}
	</select>
	
	
	<select id="totalCountList" resultType="int">
 		SELECT COUNT(*)
 		FROM USEDPRODUCT
 		WHERE 1=1
 		<if test="id != null">
	 		AND ID = #{id} 
	 	</if>
 	</select>
 	
 	<select id="fileCount" resultType="int">
 		SELECT COUNT(*)
 		FROM USEDPRODUCT
 		WHERE 1=1
 		<if test="searchFiled != null and searchFiled != ''">
	 		AND ${searchFiled} LIKE '%' || #{searchValue} || '%'
	 	</if>
 	</select>
  
</mapper>
