<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<typeAliases>
		<typeAlias type="com.three.kidult.dto.ProductDto" alias="productDto"/>
		<typeAlias type="com.three.kidult.dto.UsedproductDto" alias="usedproductDto"/>
		<typeAlias type="com.three.kidult.dto.MemberDto" alias="memberDto"/>
		<typeAlias type="com.three.kidult.dto.CalendarDto" alias="calendarDto"/>
		<typeAlias type="com.three.kidult.dto.PaymentDto" alias="paymentDto"/>
	</typeAliases>
	<mappers>
		<mapper resource="/sqls/board_mapper.xml"/>
		<mapper resource="/sqls/usedboard_mapper.xml"/>
		<mapper resource="/sqls/member_mapper.xml"/>
		<mapper resource="/sqls/calendar_mapper.xml"/>
		<mapper resource="/sqls/payment_mapper.xml"/>
	</mappers>
</configuration>
